[Unit]
Description=badasscouncil-backend
After=syslog.target network.target

[Service]
User=root
Group=root

Type=exec
ExecStart=java -jar /<pathto>/badasscouncil-backend.war
WorkingDirectory=/<pathto>/badasscouncil-backend
SuccessExitStatus=143

[Install]
WantedBy=multi-user.target
